
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    body {
        @extend html;
        app {
            @extend html;
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
        }
    }
}